body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f5f5f5;
    gap: 15px;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background: #010127;
    color: #f5f5f5;
}

.sketch-branding {}

.sketch-container {
    display: flex;
    flex-wrap: wrap;
    width: 70vmin;
    height: 70vmin;
    border: 2px solid #333;
}

.grid-cell {
    box-sizing: border-box;
    border: 1px solid #333;
    transition: background-color 0.1s;
}

.grid-cell:hover {
    background-color: #b0b0b0;
}

.slide-container {
    display: flex;
    align-items: center;
}

#mode-button {
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
}

#mode-button.rgb-mode {
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    animation: rainbow 8s ease infinite;
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}